/*	MIU - Project	
	Jairo Daniel Bernal
	MIU 1201
	01/06/2012			*/
	
	
label.error{
	display: block; margin: 10px; 0; color: red;
}	

/*#header{
	background-image: url(../Image/BG%20Search.jpg);
	margin-top: -21px;
	margin-bottom: -21px;
}*/

/*h1{
	text-align: right;
	text-shadow: 1px 1px 4px rgba(94, 144, 184, 0.81);
	color: white;
	padding-right: 20px;
	font-size: 30px;
}*/

#content{
	background: url(../Image/BG%20graphpaper.png) no-repeat white;
	padding-top: 60px;
	padding-right: 10px;
	padding-left: 10px;
	height: 600px;
}	

#contentForm{
	background: url(../Image/BGform%20graphpaper.png) no-repeat white;
	padding-top: 60px;
}	

#formBlock{
	-moz-box-shadow: 2px 2px 6px #839eb0;
	-webkit-box-shadow: 2px 2px 6px #839eb0;
	box-shadow: 2px 2px 6px #839eb0;
	opacity: 0.75;
}

/*#contentIndex{
	padding-top: 60px;
	background: url(../Image/BGindex%20graphpaper.png) no-repeat white;
}*/	

/*#feature{
	padding-left: 10px;
	padding-right: 5px;
}*/

#indexBg{
	background: url(../Image/BGindex%20graphpaper.png) no-repeat white;
	width: 420px;
	height: 800px;
	padding-top: 130px;
	margin-top: -15px;
	margin-left: -13px;
}

#newPrjFrom{
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 50px;
}

#prjFrom{
	padding-right: 10px;
	padding-left: 10px;
}

#addProject{
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 150px;
}

#browse{
	padding-right: 40px;
	padding-left: 40px;
	margin-top: 30px;
	height: 400px;
}

#trackTitle{
	padding-right: 20px;
	padding-left: 30px;
	
}
	
#browsePrjPg{
	padding-right: 20px;
	padding-left: 30px;
	
}

